*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 50px;
}

.bubble {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    align-items: center;
    background-color: lightblue;
    margin-bottom: 5px;
    border-radius: 100px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.bubble:hover {
    width: 500px;
}

.bubble img {
    width: 40px;
    height: auto;
    margin-right: 30px;
}

.bubble.play .pause-btn {
    display: none;
}

.bubble.pause .play-btn {
    display: none;
}

.project-name {
    font-size: 25px;
    white-space: nowrap;
    font-weight: bold;
}